div{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    border-radius: 60%;
    background-color: red;
    color: black;
    position: absolute;
    top: 100px;
    left: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: larger;


    /* animation-name: colorAnimate;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    /* animation-iteration-count: 6; */
    /* animation-iteration-count: infinite;
    animation-direction: normal;
    animation-direction: reverse; */ 
    animation: colorAnimate 3s ease-in-out 1s infinite normal;
}
@keyframes colorAnimate {
    from{
        background-color: red;
        color: black;
        left:0px ;
        font-size: larger;
    }
    50%{
        background-color: rgb(234, 0, 255);
        color: red;
        left: 300px;
        font-size: x-large;
    }
    to{
        background-color: chartreuse;
        color: darkblue;
        left: 500px;
        font-size: xx-large;
    }    
}
